.weather-location {
    width: 100%;
    padding: 20px;
    text-align: right;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    background-color: #f7f6f5;
    background-image: linear-gradient(135deg, transparent, transparent, rgba(#f5ebd8, 0.75));
    border-radius: 5px;
    border: 2px solid var(--actionButtonBackground);
    position: relative;
    overflow: hidden;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    text-shadow: 0 0 6px #fff, 0 0 4px #fff, 0 0 2px #fff;

    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    @media (min-width: 500px) {
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
    }
}

@keyframes fadeInIcon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.weather-location-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #f5ebd8;
    height: 70px;
    width: 70px;
    padding: 12px;
    border-radius: 12px;

    @media (min-width: 500px) {
        height: 120px;
        width: 120px;
        border-radius: 40px;
        padding: 22px;
    }

    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &.weather-location-icon-wrapper-with-loaded {
        animation: fadeInIcon 0.2s forwards;
    }
}

.weather-location-icon {
    height: 100%;
    width: 100%;
    // https://codepen.io/sosuke/pen/Pjoqqp - great tool!
    filter: invert(48%) sepia(97%) saturate(472%) hue-rotate(4deg) brightness(89%) contrast(113%);
}

.weather-location-temperature {
    display: block;
    font-size: 30px;
    color: var(--actionText);
    margin-bottom: 12px;

    sup {
        font-size: 12px;
        margin-left: 8px;
    }
}

.weather-location-data {
    font-size: 12px;
}
