.result-results {
    position: fixed;
    bottom: -2px;
    left: -2px;
    padding: 12px;
    max-height: calc(100% + 4px);
    max-width: var(--containerWidth);
    background-color: white;
    border: 2px solid var(--actionButtonBackground);
    overflow: auto;
    list-style: none;
    text-align: left;

    &,
    li {
        display: block;
        width: 100%;
    }

    li {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.result-button {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    text-align: left;
    height: auto;
    line-height: 20px;

    h2 {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 3px;

        svg {
            height: 24px;
            width: 24px;
        }

        .result-distance {
            margin-left: 12px;
            font-size: 70%;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .result-match {
        color: #62491b;
        font-weight: bolder;
    }
}
