.button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    height: var(--actionHeight);
    line-height: var(--actionHeight);
    padding: 0 30px;
    color: var(--actionText);
    background-color: var(--actionButtonBackground);
    border-radius: var(--actionRadius);
    position: relative;
    border: 2px solid transparent;
    transition: 0.15s ease-in-out;

    &:hover {
        background-color: var(--actionButtonBackgroundActive);
    }

    svg {
        fill: currentColor;
        height: 24px;
        width: 24px;

        &:first-child:not(:last-child)  {
            margin-right: 15px;
        }

        &:last-child:not(:first-child) {
            margin-left: 15px;
        }
    }
}

.button-loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: var(--actionRadius);
    z-index: 1;
    pointer-events: none;
    animation: loaderState infinite linear reverse 1s;

    svg {
        animation: spin infinite linear reverse 1.5s;
    }
}

@keyframes loaderState {
    0% {
        background-color: var(--actionButtonBackground);
    }

    50% {
        background-color: var(--actionButtonBackgroundActive);
    }

    100% {
        background-color: var(--actionButtonBackground);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}